@media only screen and (max-width:991px){   
    body .full-container{
    }



    .navigation-bar .menu ul{
        display: none;
    }
    .navigation-bar .logo {
        margin: 0 auto;
    }
    .navigation-bar .logo h3{
        margin: 50px ;
        align-items: center;
    }


    .start-journey{
        flex-direction: column-reverse;
    }
    .camera-img{
        margin: 0 auto;
        width: 70vw;
    }
    .camera-img >img{ 
        width: 70vw;
    }
    .camera-img .main-camera img{
       width: 60vw;   
    }


    .heading{
        margin: 0 auto;
        text-align: center;
    }


    .seven-brand .brands{
        margin: auto;
    }
    .seven-brand .brands .brand{
        margin: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .seven-brand .brands .brand img{
        margin:10px 30px;
    }


    hr{
        margin:0 3%;
    }


    .goods{
        grid-template-columns: 1fr;
    }



    .Feature{
        flex-direction: column-reverse;
        margin:150px auto 0 auto;
        width: auto;
    }
    .Feature .feature-blg{
        margin: 20px;
        text-align: center;
    }
    .Feature .feature-img{ 
        margin: 0 auto;
       width: 100vw;
       height: auto;     
    }
    .Feature .feature-img img{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:670px) and (max-width:991px){
    .goods{
        grid-template-columns: 1fr 1fr;
    }
    .goods .details{
        margin: 15px auto ;
    }
    #tab-view{
        grid-column: 1/3;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px){
    .Feature{
        flex-direction: column-reverse;
        margin:150px auto 0 auto;
        width: auto;
    }
    .Feature .feature-blg{
        margin: 80px;
        text-align: center;
    }
    .Feature .feature-img{ 
        margin: 0 auto;
       width: 80vw;
       height: 80vh;
          
    }
    .Feature .feature-img img{
        width: 100%;
        height: 100%;
    }

}
@media only screen and (min-width:1201px) and (max-width:1400px){
    .Feature {
        margin: 150px auto ;   
     }
}