@media only screen and (max-width:991px) {
/*========================
 .navigation-bar start 
 =================== */
.navigation-bar .menu ul{
    display: none;
}
.navigation-bar .logo {
    margin: 0 auto;
}
.navigation-bar .logo h3{
    margin: 50px ;
}

/*========================
 .navigation-bar End
 =================== */
/*========================
/* start journy Start 
===================   */

.start-journey{
    flex-direction: column-reverse;
}
.camera-img{
    margin: 0 auto;
}
.heading{
    margin: 0 auto;
    text-align: center;
}
/*========================
/* start journy End
===================   */
/*========================
/*   brands section Start
===================   */
.seven-brand .brands{
    margin: auto;
}
.seven-brand .brands .brand{
  margin: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.seven-brand .brands .brand img{
    margin:10px 30px;
}
hr{
    margin:0 3%;
}

/*========================
/*   brands section  End
===================   */
/* ================Popular Section Start================= */
.goods{
    grid-template-columns: 1fr;
}
/* ================Popular Section End================= */



/* ================.Feature Start================= */
.Feature{
    flex-direction: column-reverse;
    margin:150px auto 0 auto;
    width: auto;
}

.Feature .feature-blg{
    margin: 20px;
    text-align: center;
}
.Feature .feature-img{
    margin: 0 auto;
}
/* ================.Feature End================= */



}